@use "../../styles/variables";

.main-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width < variables.$screen-breakpoint) {
    padding: 0;
  }
}
