.navigation-menu * {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}

.link {
  padding: 2px 5px;

  &:hover {
    background-color: #2e442e63;
    border-radius: 5px;
  }
}

.activated {
  border-bottom: 2px solid #2e442e;
  border-radius: 5px;
}
